sv-accordion-item {
  margin-top: 4px;
  background: #eee;
  border-radius: 6px;
  overflow: hidden;
}

.titlebar {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 1.125em;
  transition: background 0.12s ease-out;
}

.titlebar:hover {
  background: rgb(230, 230, 230);
}

.titlebar:active {
  transition: none;
  background: rgb(235, 235, 235);
}

.content {
  white-space: pre-line;
  text-transform: none;
  padding: 10px 20px 30px 20px;
}

.collapse-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  opacity: 0.75;
}

.minus-icon,
.plus-icon {
  position: absolute;
  transition: opacity 0.2s ease, transform 0.2s ease 0.02s;
}

sv-accordion-item:not([opened]) .plus-icon {
  transform: rotate(90deg);
}
sv-accordion-item:not([opened]) .minus-icon {
  transform: rotate(90deg);
}
sv-accordion-item[opened] .plus-icon {
  opacity: 0;
}
