{
  "semi": true,
  "singleQuote": false,
  "trailingComma": "es5",
  "printWidth": 100,
  "useTabs": false,
  "tabWidth": 2,
  "quoteProps": "consistent",
  "bracketSpacing": true,
  "endOfLine": "lf"
}
