select {
    padding: 4px 8px;
    background: var(--color-header);
    border: none;
    color: var(--font-color);
    font-size: 14px;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    min-width: 100px;
    border: 1px solid var(--color-btn-border);
}
select:hover {
    filter: brightness(1.1);
}
select:active {
    filter: brightness(0.95);
}