@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  cursor: default;
}

input {
  cursor: text;
}

button {
  cursor: default;
}

input,
button {
  border-radius: 8px;
  color: #0f0f0f;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button > * {
  pointer-events: none;
}

button:active {
  background-color: #e8e8e8;
}

input,
button {
  outline: none;
}

input,
button {
  color: #ffffff;
  background-color: #0f0f0f98;
}
button:active {
  background-color: #0f0f0f69;
}

.icon canvas,
.icon svg {
  width: 1em;
  height: 1em;
  display: block;
}

a-dropdown::part(dropdown) {
  width: auto;
}

.view-settings a-dropdown::part(dropdown) {
  right: 0;
}

hr {
  opacity: 0.1;
}

.thumbnail canvas {
  height: 100%;
}

.thumbnail-image:nth-child(1) canvas,
.thumbnail-image:nth-child(3) canvas,
.thumbnail-image:nth-child(2) canvas {
  box-shadow: 4px 3px 15px rgba(0, 0, 0, 0.33);
}

/* tooltips */
.tooltip[aria-label] {
  position: relative;
}

.tooltip[aria-label]:hover::after {
  opacity: 0.9;
  transform: translate(0px, -50%);
}

.tooltip[aria-label]::after {
  content: attr(aria-label);
  z-index: 10000;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-10px, -50%);
  margin-left: 8px;
  padding: 4px 8px;
  border-radius: 6px;
  background: #333;
  color: #eee;
  white-space: nowrap;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 12px;
  opacity: 0;
  pointer-events: none;
  backdrop-filter: blur(12px);
  transition: opacity .1s .1s ease,
              transform .1s .1s ease;
}
